.navbar {
  height: 80px;
  background: #4f46e5;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logo {
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 1.5rem;
  font-weight: 600;
}

nav a.active {
  text-decoration: underline;
}
